@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background: #404892e5;*/
    background-image: url(img/background.jpg);
}
.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: -23px;
    display: none;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width:900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width:550px) {
    .carousel img {
        width: 100%;
    }
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para que cubra toda la pantalla */
    z-index: 1; /* Coloca el modal encima de todo */
    padding-top: 50px; /* Espacio en la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Agrega desplazamiento si el contenido del modal es demasiado grande */
    background-color: rgb(0,0,0); /* Fondo negro */
    background-color: rgba(0,0,0,0.9); /* Fondo negro con transparencia */
  }
  
  /* Estilos para la imagen en el modal */
  .modal-content {
    margin: auto; /* Centra la imagen */
    display: block;
    width: auto; /* Ajusta automáticamente el ancho */
    max-width: 90%; /* Ancho máximo del 90% del modal */
    max-height: 90%; /* Altura máxima del 90% del modal */
  }
  
  /* Estilos para el botón de cerrar */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
